h1{
    font-family: 'Protest Riot', sans-serif;
    font-size: 40px;
    margin-top: 10px;
}
.menu-bar{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.logo{
    color: white;
}
.menu ul{
    list-style: none;
    float: left;
    margin-top: 30px;
}
.menu ul li {
    float: left;
}
.menu ul li a{
    padding: 20px;
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 600px){
    .menu-bar ul{
        display: none;
    }
    
}

