<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card bicycle component responsive</title>
    <link rel="stylesheet" href="src/css/component/card bike.css">
</head>
<body>


    <div class="card-container">
        <div class="card-header">
            <h1>New arrivals</h1>
        </div>
        <div class="crad-item">
            <div class="card-img">
                <img src="images/images.jpeg" alt="">
            </div>
            <section>
                <div class="paragraph">
                    <p>Road bike-Specialized</p>
                    <ul>
                        <span style="font-weight: bold;">Diverge Elite E5</span>
                        <span style="text-decoration: line-through;">$2,000</span>
                    </ul>
                    <ul>
                        <span style="font-weight: bold;">New</span>
                        <span style="font-weight: bold ;">$1,799.99</span>
                    </ul>
                   
                
                </div>
            </section>
        </div>

    </div>

</body>
</html>