<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=IBM+Plex+Sans:wght@100;200;300&family=Knewave&family=Luckiest+Guy&family=Protest+Riot&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/css/component/menu.css">
    <title>MENU</title>
</head>
<body>
    <div class="menu-bar">
        <div class="logo">
            <h1>P M K H</h1>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Bike</a>
                </li>
                <li>
                    <a href="">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
